[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
djangorestframework-simplejwt = "*"
celery = {extras = ["redis"], version = "*"}
django-celery-beat = "*"
mysql-connector-python = "*"
bcrypt = "*"
pymysql = "*"
mysqlclient = "*"
pillow = "*"
beautifulsoup4 = "*"
lxml = "*"
django-webpack-loader = "*"
python-decouple = "*"

[dev-packages]
ipython = "*"
black = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
