@import "./nav";
@import "./sidebar";
@import "./dragablecomponents";
@import "./taskstyles";
@import "./richtext";
@import "./customnode";
@import "./botworkspace";
@import "./botsdashboard";
@import "./login";
@import "./mantinedrawer";
body {
    font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
}

.m-t-100px {
    margin-top: 100px;
}

.w-13px {
    width: 13px;
}
