.custom-node {
    background-color: azure;
    border-radius: 7px;
    border-top-left-radius: 27px;
    border-bottom-left-radius: 29px;
    border: 1px solid lightblue;
}

.react-flow__node:hover {
    .node-buttons {
        display: flex;
    }
}

.node-buttons {
    position: absolute;
    display: none;
    justify-content: space-evenly;
    top: 90%;
    right: 0px;
    width: 80px;
}

.node-button {
    cursor: pointer;
}
