@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header__bottom {
    padding: 20px 0;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .header__bottom {
    padding: 20px 0;
  }
}

@media (max-width: 575px) {
  .header__bottom {
    padding: 20px 0;
  }
}

.header__bottom.sticky {
  left: 0;
  margin: auto;
  position: fixed !important;
  top: 0;
  width: 100%;
  -webkit-box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.07);
          box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.07);
  z-index: 9999;
  -webkit-animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
  animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
  -webkit-box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
  background: #ffffff;
}

.header__bottom.sticky .logo-gradient {
  display: block;
}

.header__bottom.sticky .logo {
  display: none;
}

.header__bottom.sticky .main-menu ul li a {
  color: #1f1841;
}

.header__bottom.sticky .main-menu ul li:hover > a {
  color: #6af1ac;
}

.header__bottom.sticky .header__btn a {
  background: #6af1ac;
  border-color: #6af1ac;
  color: #ffffff;
}

.header__bottom.sticky .header__btn a:hover {
  background: #ffffff;
  color: #6af1ac;
}

.header__bottom.sticky .sidebar-toggle-btn .line {
  background: #6af1ac;
}

.header__bottom-2 {
  padding: 4px 0;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header__bottom-2 {
    padding: 15px 0;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .header__bottom-2 {
    padding: 15px 0;
  }
}

@media (max-width: 575px) {
  .header__bottom-2 {
    padding: 15px 0;
  }
}

.logo-gradient {
  display: none;
}

/* MAIN MENU CSS START */
.main-menu ul li {
  display: inline-block;
  margin-right: 40px;
  position: relative;
  /* submenu css start */
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .main-menu ul li {
    margin-right: 25px;
  }
}

.main-menu ul li:last-child {
  margin-right: 0;
}

.main-menu ul li a {
  font-size: 15px;
  font-weight: 700;
  text-transform: capitalize;
  color: #808080;
  display: inline-block;
  padding: 20px 0;
  padding-bottom: 25px;
}

.main-menu ul li:hover > a {
  color: #ffffff;
}

.main-menu ul li:hover ul.submenu {
  top: 100%;
  visibility: visible;
  opacity: 1;
}

.main-menu ul li ul.submenu {
  position: absolute;
  top: 110%;
  left: 0;
  min-width: 200px;
  padding: 15px 0;
  background: #ffffff;
  border-top: 4px solid #6af1ac;
  z-index: 11;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  -webkit-box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.07);
          box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.07);
}

.main-menu ul li ul.submenu li {
  display: block;
  margin-right: 0;
  padding: 6px 25px 6px 25px;
}

.main-menu ul li ul.submenu li a {
  font-size: 14px;
  display: inline-block;
  padding: 0;
  color: #1f1841;
  position: relative;
}

.main-menu ul li ul.submenu li a::before {
  content: "";
  width: 0;
  height: 1px;
  bottom: 0;
  position: absolute;
  left: auto;
  right: 0;
  z-index: -1;
  -webkit-transition: width 0.6s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
  transition: width 0.6s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
  background: #6af1ac;
}

.main-menu ul li ul.submenu li:hover > a {
  color: #6af1ac;
}

.main-menu ul li ul.submenu li:hover > a::before {
  width: 100%;
  left: 0;
  right: auto;
}

.main-menu ul li ul.submenu li:hover > ul.submenu {
  top: 0;
  visibility: visible;
  opacity: 1;
}

.main-menu ul li ul.submenu li ul.submenu {
  top: 10%;
  left: 100%;
  visibility: hidden;
  opacity: 0;
}

.main-menu.header__style-1-menu ul li a {
  padding: 23px 0;
  padding-bottom: 28px;
}

.main-menu.header__style-4-menu ul li a {
  color: #686777;
}

.main-menu.header__style-4-menu ul li a:hover {
  color: #6af1ac;
}

.main-menu-3 ul li a {
  color: #2c234d;
}

.main-menu-3 ul li:hover > a {
  color: #6af1ac;
}

.z-btn-white {
  background: #ffffff;
  border-color: #ffffff;
  color: #1f1841;
}

.z-btn-white:hover {
  background: #1f1841;
  border-color: #1f1841;
  color: #ffffff;
}

.z-btn-white-2 {
  font-size: 15px;
  height: 44px;
  line-height: 40px;
}

.z-btn-white-3:hover {
  background: #6af1ac;
  border-color: #6af1ac;
}

/* btn */
.z-btn {
  display: inline-block;
  height: 54px;
  line-height: 48px;
  border: 2px solid #6af1ac;
  background: #6af1ac;
  color: #ffffff;
  padding: 0 30px;
  border-radius: 10px;
  font-weight: 700;
  text-transform: capitalize;
  min-width: 160px;
  text-align: center;
}

.z-btn i {
  margin-left: 8px;
}

.z-btn:hover {
  background: #ffffff;
  color: #6af1ac;
}

.z-btn-transparent {
  background: transparent;
  border-color: rgba(255, 255, 255, 0.2);
}

.z-btn-transparent:hover {
  background: #ffffff;
  color: #1f1841;
  border-color: #ffffff;
}

.z-btn-transparent-2 {
  border-color: rgba(255, 255, 255, 0.2);
}

.z-btn-border {
  border-color: #e2e0eb;
  color: #1f1841;
  background: transparent;
}

.z-btn-border:hover {
  background: #6af1ac;
  color: #ffffff;
  border-color: #6af1ac;
}

.z-btn-3 {
  height: 44px;
  line-height: 40px;
}

/* sidebar css start */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .sidebar-toggle-btn {
    margin-left: 50px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .sidebar-toggle-btn {
    margin-left: 50px;
  }
}

@media (max-width: 575px) {
  .sidebar-toggle-btn {
    margin-left: 50px;
  }
}

.sidebar-toggle-btn .line {
  width: 30px;
  height: 3px;
  background-color: #000;
  display: block;
  margin: 6px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.sidebar-toggle-btn:hover {
  cursor: pointer;
}

.sidebar-toggle-btn:hover .line {
  -webkit-transform: rotate(-30deg);
  transform: rotate(-30deg);
}

.sidebar-toggle-btn:hover .line:nth-child(1) {
  width: 10px;
}

.sidebar-toggle-btn:hover .line:nth-child(2) {
  width: 20px;
}

.sidebar-toggle-btn-3 .line {
  background-color: #6af1ac;
}

.search-bar input {
  border-radius: 5px;
  border: 1px solid;
  padding: 9px;
  outline: none;
  width: 90%;
}

.search-bar {
  margin-top: 3rem;
}

.sidebar {
  padding: 1px;
}

.button-section {
  margin-bottom: 2rem;
  margin-top: 4rem;
}

.button-section button {
  background: #009aff;
  color: white;
  border: none;
  padding: 6px 16px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 5px 35px 0px rgba(0, 0, 0, 0.3) !important;
          box-shadow: 0px 5px 35px 0px rgba(0, 0, 0, 0.3) !important;
  margin-right: 5px;
  margin-bottom: 7px;
}

.sidebar {
  width: 30vw;
  /* background-color: black; */
  height: 90vh;
  position: absolute;
  top: 0;
  right: 0;
}

.sidebar .component {
  width: 100%;
  background-color: aliceblue;
  height: 61px;
  text-align: center;
  margin-top: 10px;
}

.sidebar .component-title {
  text-align: center;
  background-color: antiquewhite;
  padding: 5px;
  border-radius: 10px;
  font-weight: 800;
  margin-top: 10px;
}

button,
input {
  font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
}

a {
  color: #f96332;
}

a:hover,
a:focus {
  color: #f96332;
}

.btn-i {
  margin-right: 3px;
  font-size: 11px;
}

p {
  line-height: 1.61em;
  font-weight: 300;
  font-size: 1.2em;
}

.category {
  text-transform: capitalize;
  font-weight: 700;
  color: #9a9a9a;
}

.nav-item .nav-link,
.nav-tabs .nav-link {
  -webkit-transition: all 300ms ease 0s;
  transition: all 300ms ease 0s;
}

.card .nav-link {
  -webkit-transition: all 150ms ease 0s;
  transition: all 150ms ease 0s;
}

.now-ui-icons {
  display: inline-block;
  font: normal normal normal 14px/1 "Nucleo Outline";
  font-size: inherit;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nav-tabs {
  border: 0;
  padding: 15px 0.7rem;
}

.nav-tabs:not(.nav-tabs-neutral) > .nav-item > .nav-link.active > button {
  -webkit-box-shadow: 0px 5px 35px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 5px 35px 0px rgba(0, 0, 0, 0.3);
}

.card .nav-tabs {
  border-top-right-radius: 0.1875rem;
  border-top-left-radius: 0.1875rem;
}

.nav-tabs > .nav-item > .nav-link {
  color: #888888;
  margin: 0;
  /*margin-right: 5px;*/
  background-color: transparent;
  border: 1px solid transparent !important;
  border-radius: 30px;
  font-size: 14px;
  padding: 11px 23px;
  line-height: 1.5;
}

.nav-tabs > .nav-item > .nav-link:hover {
  background-color: transparent;
}

.nav-tabs > .active > .nav-link {
  background-color: #444 !important;
  border-radius: 30px !important;
  color: #ffffff !important;
  -webkit-box-shadow: 0px 5px 35px 0px rgba(0, 0, 0, 0.3) !important;
          box-shadow: 0px 5px 35px 0px rgba(0, 0, 0, 0.3) !important;
}

.nav-tabs > .nav-item > .nav-link i.now-ui-icons {
  font-size: 14px;
  position: relative;
  top: 1px;
  margin-right: 3px;
}

.nav-tabs.nav-tabs-neutral > .nav-item > .nav-link {
  color: #ffffff;
}

.nav-tabs.nav-tabs-neutral > .nav-item > .nav-link.active {
  /*background-color: rgba(255, 255, 255, 0.2);*/
  color: #ffffff;
}

.nav-tabs > li {
  border-radius: 30px;
}

.drag-item-t {
  background: #493cc4;
  border-radius: 4px;
  color: #fff;
  padding: 8px 1px;
  margin-bottom: 7px;
}

.drag-item-c {
  background: #099969;
  border-radius: 4px;
  color: #fff;
  padding: 8px 1px;
  margin-bottom: 7px;
}

.drag-item-a {
  background: #1696a4;
  border-radius: 4px;
  color: #fff;
  padding: 8px 1px;
  margin-bottom: 7px;
}

.card {
  border: 0;
  border-radius: 0.1875rem;
  display: inline-block;
  position: relative;
  width: 100%;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
  padding: 24px;
}

.card .card-header {
  background-color: transparent;
  border-bottom: 0;
  background-color: transparent;
  border-radius: 0;
  padding: 0;
}

.card[data-background-color="orange"] {
  background-color: #f96332;
}

.card[data-background-color="red"] {
  background-color: #ff3636;
}

.card[data-background-color="yellow"] {
  background-color: #ffb236;
}

.card[data-background-color="blue"] {
  background-color: #2ca8ff;
}

.button-section {
  margin-bottom: 2rem;
  margin-top: 4rem;
}

.button-section button {
  background: #009aff;
  color: white;
  border: none;
  padding: 6px 16px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 5px 35px 0px rgba(0, 0, 0, 0.3) !important;
          box-shadow: 0px 5px 35px 0px rgba(0, 0, 0, 0.3) !important;
  margin-right: 5px;
  margin-bottom: 7px;
}

@media screen and (max-width: 768px) {
  .nav-tabs {
    display: inline-block;
    width: 100%;
    text-align: center;
  }
  .nav-tabs .nav-item > .nav-link {
    margin-bottom: 5px;
  }
}

.dragable-element {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  border-bottom-color: rgba(210, 210, 210, 0.31);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  line-height: 28.8px;
  margin-bottom: 7px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 7px;
  text-decoration: none;
}

.icon-container {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  -webkit-box-shadow: 0 1px 3px black, 0 1px 2px black;
          box-shadow: 0 1px 3px black, 0 1px 2px black;
  color: #ffffff;
  font-size: 24px;
  line-height: 37px;
  text-align: center;
  cursor: pointer;
  margin-right: 5px;
}

.dragable-element img {
  width: 50px;
  -webkit-filter: invert(99%) sepia(99%) saturate(2%) hue-rotate(319deg) brightness(105%) contrast(101%);
          filter: invert(99%) sepia(99%) saturate(2%) hue-rotate(319deg) brightness(105%) contrast(101%);
  width: 16px;
}

.dragable-element p {
  border-bottom-color: #1c2025;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #1c2025;
  cursor: pointer;
  display: block;
  font-size: 13px;
  font-weight: 400;
  height: 23.3906px;
  line-height: 23.4px;
  -webkit-margin-after: 0px;
          margin-block-end: 0px;
  -webkit-margin-before: 0px;
          margin-block-start: 0px;
  margin-bottom: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-left: 13px;
  padding-top: 0px;
  text-align: left;
  text-decoration-thickness: auto;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  width: 145.719px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.trigger-element .icon-container {
  background: #ed2553;
}

.condition-element .icon-container {
  background: orange;
}

.action-element .icon-container {
  background: #26c4fc;
}

.quill {
  min-height: 45vh;
}

.ql-editor {
  min-height: 45vh;
}

.email-template-editor .button {
  margin: 10px 0px;
}

body {
  font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
}

.w-13px {
  width: 13px;
}
/*# sourceMappingURL=index.css.map */